# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Logs
logs/
*.log
pip-log.txt
pip-delete-this-directory.txt

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py


# =========================
# Jupyter / Data science
# =========================
.ipynb_checkpoints/
*.ipynb

# Large datasets
datasets/
data/
*.csv
*.tsv
*.jsonl
*.bin
*.h5
*.pth
*.pt

# =========================
# VSCode
# =========================
.vscode/
!.vscode/extensions.json

# IDE
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
__pycache__
/test/
/Django_Python_Project/.env
/.shared/
/.github/
